.loaderContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: none;
  justify-content: center;
  align-items: center;

  .loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid $primaryColor;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  &.active {
    display: flex;
  }
}

main.categorie {
  .nj_categorie_section1 {
    svg {
      margin-bottom: 25px;
    }

    img {
      width: 80%;
      margin-bottom: 15px;
    }
  }

  .nj_categorie_section2 {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 210px));
    justify-content: space-evenly;
    align-items: center;
    grid-gap: 50px 20px;

    article {
      text-align: center;
      flex: 1;
      cursor: pointer;
      box-shadow: 0 14px 26px rgba(65, 146, 71, 0.2);
      border: 1px solid rgba(65, 146, 71, 0.2);
      border-radius: 10px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 400px;

      h3 {
        text-transform: uppercase;
        line-height: 25px;
        margin: 20px 0;
      }

      img {
        max-width: 190px;
        width: 100%;
      }

      &:hover {
        box-shadow: 0 14px 26px rgba(65, 146, 71, 0.4);
      }
    }
  }

  .nj_categorie_section3 {
    .nj_categorie_section3_details {
      display: none;

      > h4 {
        background-color: #3b3b3b;
        color: #fff;
        padding: 50px 15px;
        text-align: center;
      }

      > div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 350px));
        justify-content: center;
        margin-top: 50px;
        grid-gap: 20px;

        article {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;

          h3 {
            margin: 10px 0;
            line-height: 20px;
          }

          h4 {
            text-transform: uppercase;
            font-style: italic;
            font-size: 16px;
            margin: 20px 0;
          }

          img {
            width: auto;
            height: 335px;
            object-fit: cover;
          }

          svg {
            margin: 20px 0 10px;
          }
        }
      }
    }
  }

  #tropicali.active,
  #succulente.active,
  #depuratrici.active,
  #aromatiche.active,
  #rampicanti.active,
  #xxsmall.active,
  #xsmall.active,
  #xsmalls.active,
  #small.active,
  #medium.active,
  #mediumb.active,
  #large.active,
  #largeb.active,
  #xlarge.active,
  #xlargeb.active,
  #xxlarge.active,
  #thè.active,
  #penne.active,
  #oggetti.active,
  #oriz.active,
  #vert.active,
  #banco.active,
  #comp.active,
  #tasche.active,
  #ufficio.active,
  #bambini.active,
  #bagno.active,
  #living.active,
  #cucina.active, {
    display: block;
  }
}
