main.collaborazione {
  .nj_collaborazione_section1 {
    img {
      width: 80%;
      margin: 0 auto;
      display: block;
    }
  }

  h4 {
    color: $secondaryColor;
  }

  .nj_collaborazione_section3 {
    padding: 0 15px;

    h4 {
      margin: 50px 15px;
    }
  }

  .nj_collaborazione_seciont4 {
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      li {
        margin: 10px;
        box-shadow: 0 14px 26px rgba(65, 146, 71, 0.2);
        border: 1px solid rgba(65, 146, 71, 0.2);
        border-radius: 10px;
        overflow: hidden;

        a {
          text-align: center;
          display: block;

          img {
            max-width: 300px;
          }

          h3 {
            color: $grafiteColor;
            text-transform: uppercase;
            margin: 20px 0;
          }

          svg {
            margin: 10px;
          }
        }
      }
    }
  }

  .modal.show {
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-dialog {
      min-height: unset;

      .modal-content {
        border: 1px solid #419247;
        border-radius: 0;
        outline: unset;
        box-shadow: none;

        .close {
          margin: 20px;
          align-self: center;
          cursor: pointer;
        }

        .carousel-inner {
          height: 350px;

          .carousel-item {
            height: 100%;

            img {
              width: 100%;
              object-fit: cover;
              height: 100%;
            }
          }
        }

        .carousel-control-prev {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .nj_collaborazione_nuovo {
    padding: 0 15px;
    text-align: center;
    h3 {
      text-transform: uppercase;
      margin-bottom: 15px;
      line-height: 20px;
    }
    p {
      line-height: 25px;

      a {
        color: $primaryColor;
      }
    }
    img {
      width: 100%;
      max-width: 750px;
    }
  }
}
