$primaryColor: #419247;
$secondaryColor: #9acd32;
$thirdColor: #0e602c;
$grafiteColor: #3b3b3b;

$mask: rgba(65, 146, 71, 0.1);
$home-mask: rgba(255, 255, 255, 0.5);

$transition: all 0.5s ease-in-out;

::selection {
  background: $secondaryColor;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.75px;
  color: $grafiteColor;
}

h1 {
  font-size: 50px;
  font-style: italic;
  line-height: 80px;
  font-weight: 600;
  text-transform: uppercase;
  transition: $transition;
}

h2 {
  font-size: 50px;
  font-style: italic;
  line-height: 80px;
  font-weight: 600;
  transition: $transition;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  transition: $transition;
}

h4 {
  font-size: 40px;
  font-weight: 600;
  transition: $transition;
}

p {
  font-size: 16px;
  transition: $transition;
  line-height: 30px;
  color: $grafiteColor;
}

.underlined {
  background-image: linear-gradient(to bottom, transparent 50%, #9acd32 50%);
  background-repeat: repeat-x;
  background-size: 100px 0.3em;
  background-position: 0 100%;
}

.fade_in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade_in.appear {
  opacity: 1;
}

.slide_in {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}

.slide_in.appear {
  transform: translateX(0);
}

.marked {
  background-size: 100% 100%;
  background: linear-gradient(
    to bottom,
    transparent 62%,
    rgba(154, 205, 50, 0.8) 0
  );
}

hr {
  height: 4px;
  background-image: linear-gradient(to right, #9acd32, #419247, #9acd32);
  width: 100%;
}

strong {
  a {
    color: $primaryColor;
    pointer-events: initial !important;
    cursor: pointer;

    &:hover {
      color: $secondaryColor;
    }
  }
}

a,
a:hover {
  text-decoration: none;
}

input[type='checkbox'] {
  position: absolute;
  left: -9999px;
}

input[type='submit'] {
  background-color: transparent;
}

.readMoreBtn {
  cursor: pointer;
  + p,
  + div {
    display: none;
  }

  &.active {
    + p,
    + div {
      display: block;
    }
  }
}

.carousel-indicators {
  z-index: 1;
}

// Carousel 3d
.gallery {
  width: 100%;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.gallery-item {
  height: 150px;
  opacity: 0.4;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 150px;
  z-index: 0;
}
.gallery-item img {
  width: 100%;
}
.gallery-item p {
  display: none;
}

.gallery-item.gallery-item-selected p {
  display: block;
  text-align: center;
}
.gallery-item.gallery-item-selected {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
    0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
    0 0 100px rgba(255, 255, 255, 0.1);
  height: 300px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  z-index: 2;
}

.gallery-item.gallery-item-previous,
.gallery-item.gallery-item-next {
  height: 200px;
  opacity: 1;
  width: 200px;
  z-index: 1;
}

.gallery-item.gallery-item-previous {
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-next {
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-first {
  left: 15%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-last {
  left: 85%;
  transform: translateX(-50%);
}

.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.gallery-controls button {
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin: 0 20px;
  padding: 0 12px;
  text-transform: capitalize;
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  text-indent: -9999px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 16px;
  left: -10px;
  padding: 2px;
  position: absolute;
  transform: rotate(135deg);
  transition: left 0.15s ease-in-out;
  width: 16px;
}

.gallery-controls-previous:hover::before {
  left: -18px;
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 16px;
  padding: 2px;
  position: absolute;
  right: -10px;
  transform: rotate(-45deg);
  transition: right 0.15s ease-in-out;
  width: 16px;
}

.gallery-controls-next:hover::before {
  right: -18px;
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
}

//
#prodottiHeaderModal.modal.show {
  .modal-dialog-centered {
    max-width: 500px;
  }
}

.modal.show {
  background: rgba(65, 146, 71, 0.2);
  .modal-dialog-centered {
    max-width: 300px;
    width: 100%;
    margin: 20px auto;
  }
}

#dimensioniModal,
#coloriModal {
  .modal-header {
    p {
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .modal-body {
    ul {
      text-align: center;
      padding: 0;

      li {
        margin: 15px 0;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          max-width: 60px;
          width: 100%;
          flex: 1;
          border-radius: 10px;
        }

        p {
          flex: 1;
          font-weight: 400;
        }
      }
    }
  }
}

#prodottiHeaderModal {
  .modal-header {
    text-transform: uppercase;
    font-weight: 600;

    a {
      color: $grafiteColor;
    }
  }

  .modal-body {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      margin: 10px 0;
      height: 90px;

      .bigger {
        width: 100px;
      }

      p {
        color: $grafiteColor;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
      }

      &:hover {
        p {
          color: $secondaryColor;
        }
      }

      div:first-child {
        width: 25%;
        display: flex;
        justify-content: center;
      }

      div:last-child {
        width: 75%;
        text-align: center;
      }
    }
  }
}

.main_sub_category:hover {
  .sub-inner.active {
    display: flex;
  }
}

.sub-inner {
  position: absolute;
  background: #fff;
  color: #000;
  width: 150px;
  left: 205px;
  height: 150px;
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  top: 15px;

  &::after {
    content: '';
    position: absolute;
    margin: 0 auto;
    width: 0;
    display: flex;
    height: 0;
    left: -10px;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
  }
}

main {
  & > a {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    color: $primaryColor;
    border: 2px solid $primaryColor;
    max-width: 170px;
    text-align: center;
    width: 100%;
    margin: 100px auto;
    text-transform: uppercase;
    font-weight: 600;

    svg {
      position: relative;
      transition: transform 0.3s ease;

      circle {
        transition: stroke-dashoffset 0.3s ease;
        stroke-dasharray: 95;
        stroke-dashoffset: 95;
      }
    }

    &:hover {
      border: 2px solid $secondaryColor;
      color: $secondaryColor;

      svg {
        transform: translate3d(5px, 0, 0);
        g {
          stroke: $secondaryColor;
        }
      }

      circle {
        stroke-dashoffset: 0;
      }
    }
  }
}

header {
  .panel {
    a {
      padding: 15px 30px;
    }
  }
}
// Common
// Accordion
.main_category {
  color: $primaryColor;

  &:hover,
  &.active {
    color: $secondaryColor;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: $transition;

  & > a {
    padding: 12px 30px;

    &:hover {
      color: $secondaryColor;
    }
  }
}

.mask {
  @include absolute();
  background-color: $mask;
  z-index: 1;
}

.black-mask {
  @include absolute();
  background-color: $home-mask;
  z-index: 1;
}

section#nj_homepage_section1 {
  width: 100%;
  height: 120vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel-item {
    height: 120vh;
  }
}

.nj_categorie_section3_details {
  h3 {
    text-transform: uppercase;
    line-height: 25px;
    color: #3b3b3b;
    margin: 15px 0;
  }
}

.nj_search_section2 {
  h3 {
    text-transform: uppercase;
  }

  a {
    color: $grafiteColor;
  }
}

.more {
  display: none;
}

p {
  &.active {
    span.dots {
      display: none;
    }

    span.more {
      display: block;
    }

    button {
      visibility: hidden;
      &::after {
        content: 'Read Less';
        visibility: visible;
        display: block;
        position: absolute;
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(65, 146, 71, 0.4);
  }
  20% {
    box-shadow: 0 0 0 6px rgba(65, 146, 71, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(65, 146, 71, 0);
  }
}

#scrollTop {
  opacity: 0;
  position: fixed;
  bottom: 15px;
  width: 0;
  height: 0;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  border: none;
  box-shadow: 0 8px 26px 0 rgba(77, 42, 23, 0.16);
  color: white;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s;

  &.active {
    opacity: 1;
    width: 50px;
    height: 50px;
  }
}

// Same heading
.nj_consigli_section1,
.nj_mission_section1,
.nj_contatti_section1,
.nj_noleggio_section1,
.nj_collaborazione_section1,
.nj_prodotti_section1,
.nj_gallery_section1,
.nj_video_section1,
.nj_categorie_section1,
.nj_search_section1,
.nj_evidenza_section1,
.dettaglio .nj_evidenza_section2 {
  padding: 122px 15px 0;
  text-align: center;
  h1 {
    font-style: normal;
    font-weight: 600;
    margin: 50px 0;
  }
}

.evidenza {
  .nj_evidenza_section2 {
    padding: 0 0 25px;
  }
}

.dettaglio.evidenza .nj_evidenza_section2 {
  padding: 122px 15px 0;
}

.nj_homepage_section5,
.nj_mission_section2,
.nj_noleggio_section2,
.nj_noleggio_section3,
.nj_collaborazione_section2,
.nj_categorie_section2 {
  display: flex;
  margin: 50px 15px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;

  h4 {
    display: flex;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  h4 {
    color: $grafiteColor;
    text-transform: uppercase;
    justify-content: center;
  }

  .accordion {
    a.main_category {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 600px;
      text-transform: uppercase;
      margin: 15px 0;

      img,
      p,
      svg {
        pointer-events: none;
      }

      svg:last-child {
        transition: $transition;
      }

      p {
        color: $primaryColor;
        line-height: 20px;
        font-weight: 600;
        text-align: center;
      }

      &.active {
        p {
          color: $secondaryColor;
        }

        svg:last-child {
          transform: rotate(45deg);

          path {
            fill: $secondaryColor;
          }
        }
      }
    }

    .panel {
      max-width: 600px;
      text-align: center;

      a {
        color: $primaryColor;
      }
    }
  }
}

section.nj_consigli_section3,
section.nj_noleggio_section2,
section.nj_noleggio_section3,
section.nj_noleggio_section4,
.nj_collaborazione_section3 {
  h4 {
    color: $primaryColor;
    margin-bottom: 50px;
    text-transform: unset;
    text-align: center;
  }
}

#lb-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}
#lb-back.show {
  visibility: visible;
  opacity: 1;
}
#lb-img {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  div {
    width: 85%;
    height: 85%;

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }
}

.zoomD {
  p {
    display: none;
  }
}

#rivenditore .modal-dialog-centered {
  max-width: 450px;
  width: calc(100% - 30px);

  .modal-header {
    p {
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

main.noleggio section.nj_noleggio_section3 h4 {
  width: 40%;
}
