main.consigli {
  .nj_consigli_section1 {
    max-width: 1000px;
    margin: auto;
    p {
      strong {
        display: block;
        font-size: 16px;
      }
    }
  }

  section.nj_consigli_section2 {
    article {
      max-width: 500px;

      p {
        margin-top: 20px;
      }
    }
  }

  .consigliMore {
    margin-top: 20px;
    line-height: 30px;
    display: block;
  }

  section.nj_consigli_section3 {
    background-color: #ffffff;
  }

  section.nj_consigli_section4 {
    margin: 0 15px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 20px 10px;

    article {
      div {
        height: 200px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      h3 {
        text-transform: uppercase;
        text-align: center;
        margin: 30px 0 20px;
      }

      p {
        text-align: center;
        pointer-events: none;

        span {
          pointer-events: initial;
        }

        &:nth-child(3) {
          cursor: pointer;
        }
      }
    }
  }
}
