main.contatti {
  .nj_evidenza_section3 {
    background-color: #3b3b3b;
    margin-bottom: 50px;
    padding: 50px 0;
  }
  .nj_contatti_section1 {
    padding: 122px 0 0;
    img {
      width: 100%;
      height: 600px;
      object-fit: cover;
    }
  }
  .nj_contatti_section2 {
    padding: 50px 15px;

    form {
      display: flex;
      flex-direction: column;
      max-width: 750px;
      margin: 0 auto;

      label:not(.agreeContactLabel) {
        position: absolute;
        top: 0;
        font-size: 14px;
        margin: 10px;
        padding: 0 10px;
        transition: all 0.3s ease-in-out;
      }

      label[for='agreeContact'] {
        display: flex;
        margin: 20px 0;
      }

      input,
      textarea {
        width: 100%;
        margin-bottom: 50px;
        padding: 20px;
        border: 2px solid $primaryColor;
        font-size: 16px;
        color: $grafiteColor;
      }

      input[type='submit'] {
        text-transform: uppercase;
        font-weight: 600;
        max-width: 150px;
        margin: 20px auto 0;

        &:hover {
          border: 2px solid $secondaryColor;
          color: $secondaryColor;
        }
      }

      textarea {
        margin: 0;
      }

      label:not(.agreeContactLabel).active {
        top: -25px;
        font-size: 18px;
        letter-spacing: 3px;
        background: #ffffff;
      }

      input[type='text']:focus,
      input[type='email']:focus,
      textarea:focus {
        border: 2px solid $secondaryColor;
        outline: none;
      }

      div:first-child {
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;

        div {
          flex: 1;

          &:first-child {
            input {
              margin-right: 10px;
            }
          }
        }
      }

      div:nth-child(2) {
        position: relative;

        textarea {
          width: 100%;
        }
      }

      div:nth-child(3) {
        label {
          span:first-child {
            position: relative;
            width: 20px;
            height: 20px;
            border: 1px solid #419247;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
          }
        }
      }

      a {
        margin: 50px auto;
        color: $primaryColor;
      }

      #agreeContact:checked + label i:first-child {
        display: none;
      }

      #agreeContact:checked + label i:nth-child(2) {
        display: flex;
      }

      i {
        color: $primaryColor;
        margin-right: 20px;

        &:nth-child(2) {
          display: none;
        }
      }
    }
  }

  .nj_contatti_section3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15px;

    div {
      flex: 1;
      text-align: center;
      font-weight: 600;

      p {
        margin: 15px;
      }

      a {
        color: $grafiteColor;
      }
    }
  }
}
