.dettaglio .list-inline {
  white-space: nowrap;
  overflow-x: auto;
}

.dettaglio .carousel-indicators {
  position: static;
  left: initial;
  width: initial;
  margin-left: initial;
  margin: 0;
}

#footerDettaglio {
  position: fixed;
  width: 100%;
  height: 70px;
  background: white;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
  box-shadow: 0 -3px 26px 0 rgba(77, 42, 23, 0.16);

  input {
    width: 320px;
    font-size: 20px;
    background: $primaryColor;
    color: white;
    font-weight: 600;
    padding: 15px;
    border: 0;
  }

  h5 {
    text-transform: uppercase;
    font-size: 20px;
  }
}

.dettaglio .carousel-indicators > li {
  width: initial;
  height: initial;
  text-indent: initial;
}

.dettaglio .carousel-indicators > li.active img {
  opacity: 0.7;
}

.dettaglio {
  .reminder {
    font-size: 12px;
  }
  fieldset {
    max-width: 300px;
    width: 100%;
    p {
      font-size: 14px;
    }
  }
  .nj_homepage_section10 fieldset {
    height: 200px;
  }
  .capsule {
    margin: 20px;
  }
  label {
    margin: 5px;
  }
  .carousel-inner {
    max-height: 500px;
    text-align: center;

    img {
      max-width: 400px;
      width: 100%;
    }
  }

  .opzioni {
    display: none;
    margin-bottom: 20px;
  }

  .descrizioneprodotto {
    max-width: 500px;
    margin: auto;
  }

  .nj_homepage_section5 .accordion {
    width: 100%;
    margin: 0 auto;
    display: block;

    a.main_category {
      margin: 15px auto;
    }
  }
}

.dettaglio.evidenza {
  h4 {
    text-transform: unset;
    text-align: center;
  }
  .nj_evidenza_section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 122px 15px 0;
    .slider {
      flex: 1;
      & > a {
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: flex-start;
        padding: 15px 0;
        color: #419247;
        max-width: 170px;
        text-align: center;
        width: 100%;
        margin: 0;
        text-transform: uppercase;
        font-weight: 600;
        &:hover {
          color: #9acd32;

          svg {
            g {
              stroke: #9acd32;
              circle {
                stroke-dashoffset: 0;
              }
            }
          }
        }
        svg {
          transform: rotate(180deg);
          margin-right: 10px;
          g {
            circle {
              transition: stroke-dashoffset 0.3s ease;
              stroke-dasharray: 95;
              stroke-dashoffset: 95;
            }
          }
        }
      }
    }
    .productDetails {
      flex: 1;

      h3 {
        text-transform: uppercase;
        margin: 30px 0;
        font-size: 40px;
        line-height: 50px;
      }
    }
  }

  button {
    height: 50px;
    padding: 15px 0;
    color: $primaryColor;
    outline: 0;
    border: 2px solid $primaryColor;
    max-width: 170px;
    text-align: center;
    width: 100%;
    margin: 30px 15px;
    text-transform: uppercase;
    font-weight: 600;
    background: transparent;

    &:hover {
      color: $secondaryColor;
      border: 2px solid $secondaryColor;
    }

    &.active {
      color: $secondaryColor;
      border: 2px solid $secondaryColor;
    }
  }

  .price {
    font-size: 40px;
  }
}
