main.evidenza {
  .nj_evidenza_section1 {
    margin-bottom: 50px;
  }
  .nj_evidenza_section3 {
    margin: 0;
  }
}

.nj_evidenza_section4 {
  display: flex;
  flex-direction: column;

  article {
    display: flex;
    align-items: center;
    position: relative;
    padding: 70px 0;
    background-position: center;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
      background-color: rgba(59, 59, 59, 0.5);
    }

    &:nth-child(even) {
      & div:first-child {
        order: 2;
      }
      & div:last-child {
        order: 1;
      }
    }

    div {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }

    img {
      width: 100%;
      max-width: 500px;
      height: auto;
      object-fit: cover;
    }

    h3 {
      font-size: 40px;
      text-transform: uppercase;
      color: white;
    }

    p {
      margin: 25px 0;
      color: white;
    }

    a {
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: center;
      padding: 15px 0;
      color: white;
      border: 2px solid white;
      max-width: 170px;
      text-align: center;
      width: 100%;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.dettaglio .list-inline {
  white-space: nowrap;
  overflow-x: auto;
}

.dettaglio .carousel-indicators {
  position: static;
  left: initial;
  width: initial;
  margin-left: initial;
}

.dettaglio .carousel-indicators > li {
  width: initial;
  height: initial;
  text-indent: initial;
}

.dettaglio .carousel-indicators > li.active img {
  opacity: 0.7;
}
