footer {
  background: $grafiteColor;
  padding: 20px 15px;
  border-top: 10px solid $primaryColor;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 240px));
  justify-content: space-evenly;
  align-items: center;

  & > svg:first-child,
  > svg:nth-child(2),
  > svg:nth-child(3),
  > svg:nth-child(4) {
    position: absolute;
  }

  & > svg:first-child {
    top: -54px;
    left: 15%;
  }

  svg:nth-child(2) {
    top: -59px;
    left: 35%;
  }

  svg:nth-child(3) {
    top: -59px;
    right: 35%;
  }

  svg:nth-child(4) {
    top: -59px;
    right: 15%;
  }

  h6 {
    color: $primaryColor;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  ul {
    font-size: 14px;
    text-align: center;

    li {
      margin: 10px 0;

      &:hover {
        a {
          color: $secondaryColor;
        }

        svg {
          path {
            fill: $secondaryColor;
          }
        }
      }

      img {
        max-width: 220px;
        width: 100%;
      }

      a {
        color: #ffffff;
        display: block;
      }
    }

    &:nth-child(5) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      li:first-child,
      li:nth-child(2),
      li:nth-child(3) {
        svg {
          margin: 5px 10px;
        }
      }

      svg {
        margin: 5px;
      }

      li:nth-child(4),
      li:nth-child(5),
      li:last-child {
        width: 100%;
        text-align: center;
      }

      li:nth-child(4) {
        padding: 10px;
      }

      li {
        margin: 0;
      }
    }

    &:last-child {
      text-align: center;
      display: flex;
      flex-direction: column;

      p {
        font-size: 4px;
        line-height: 6px;
        color: #ffffff;
      }
    }
  }
}
