main.gallery {
  .nj_gallery_section1 {
    svg {
      margin: 50px;
    }
  }

  .nj_gallery_section_images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;

    div {
      flex-basis: 33.3333%;
      cursor: pointer;

      img {
        height: 290px;
        width: auto;
        display: block;
        margin: 0 auto;
        object-fit: cover;
        transition: transform 0.5s;
      }
    }
  }
}
