header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  flex-wrap: wrap;
  position: fixed;
  background: transparent;
  width: 100%;
  z-index: 3;
  transition: $transition;

  &.scroll {
    background: #ffffff;
    padding: 0 15px;
    box-shadow: 0 8px 26px 0 rgba(77, 42, 23, 0.16);
  }

  div {
    &.burger_menu {
      input {
        position: absolute;
        left: -9999px;

        &:checked + label.menu {
          transform: scale(1.27) rotate(0);

          .menu_part:nth-of-type(1) {
            transform: rotate(45deg);
            width: 21px;
            top: calc(50% - (2px));
          }

          .menu_part:nth-of-type(2) {
            left: 16px;
            opacity: 0;
          }

          .menu_part:nth-of-type(3) {
            transform: rotate(-45deg);
            width: 21px;
            top: calc(50% - (2px));
          }
        }
      }

      label {
        position: relative;
        cursor: pointer;
        display: none;
        height: 21px;
        width: 21px;

        span {
          @include absolute();
          height: 2px;
          background: $primaryColor;
          border-radius: 3px;
          transition: all 0.5s cubic-bezier(0.5, 0.1, 0.2, 1.3);
          width: 26px;
          top: calc(50% - ((8px)) + -2px);

          &:first-child {
            top: calc(50% - ((10px)) + 1px);
            width: 21px;
          }

          &:nth-child(2) {
            top: calc(50% - ((8px)) + 7px);
            width: 16px;
          }

          &:last-child {
            top: calc(50% - ((6px)) + 13px);
            width: 21px;
          }
        }
      }
    }

    &.logo {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100px;
        width: 100%;
      }
    }

    &.checkout {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      svg {
        cursor: pointer;
      }

      a {
        margin: 10px;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          svg {
            path {
              fill: $primaryColor;
            }
          }
        }

        svg {
          path {
            &.scroll {
              fill: $primaryColor;
            }
          }
        }
      }
    }
  }

  nav {
    margin: 5px auto;
    display: flex;

    > div {
      position: relative;
      margin: 15px;

      &:hover {
        .inner {
          display: flex;
        }
      }

      .inner.active {
        display: flex;
      }
    }

    .inner {
      flex-direction: column;
      align-items: center;
      position: absolute;
      display: none;
      background: white;
      color: black;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      border-top: 5px solid #ffffff;
      top: 56px;
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
      border-radius: 10px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        height: 0;
        top: -14px;
        transform: rotate(135deg);
        box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.1);
        border: 10px solid black;
        border-color: transparent transparent #fff #fff;
      }

      a {
        font-weight: unset;
      }
    }

    a,
    p {
      padding: 15px;
      color: $primaryColor;
      font-weight: 600;
      display: block;
      cursor: pointer;

      &:hover {
        color: $secondaryColor;
      }
    }
  }
}
