main.homepage {
  & > a {
    margin: 50px auto 100px;
    max-width: 130px;
  }
}

section.nj_homepage_section2,
section.nj_homepage_section4,
section.nj_consigli_section2,
section.nj_noleggio_section5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: auto;
  margin: 50px 15px;

  article {
    flex: 1;

    img {
      height: 220px;
      width: auto;
    }

    a {
      &:focus {
        h3 {
          opacity: 1;
          text-decoration: none;
        }
      }
    }

    h3 {
      opacity: 0;
      color: $grafiteColor;
      text-transform: uppercase;
      padding: 10px;
      line-height: 20px;
    }

    &:hover h3 {
      opacity: 1;
      text-decoration: none;
    }
  }
}

section.nj_homepage_section4,
section.nj_consigli_section2,
section.nj_noleggio_section5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  article {
    padding: 10px;
    max-width: 350px;
    width: 100%;

    h3 {
      opacity: 1;
      margin-top: 20px;
    }
  }
}

.nj_slides_description {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  color: #fff;
  text-align: center;
  z-index: 2;
  padding: 15px;
  width: 100%;

  h1 {
    color: $grafiteColor;
    text-transform: unset;
  }

  p {
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 40px;
    color: $grafiteColor;
  }
}

.nj_homepage_section3,
.nj_homepage_section7,
.nj_consigli_section3,
.nj_gallery_section {
  background-color: $grafiteColor;
  color: #ffffff;
  padding: 50px 15px;
  text-align: center;

  h4 {
    font-weight: 600;
  }
}

.nj_homepage_section7 {
  & > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 50px;
    max-width: 850px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        border-radius: 50%;
        width: 160px;
        height: 160px;
        background-color: #2b2b2b;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        box-shadow: 0 0 0 0 rgba(65, 146, 71, 0.4);
        animation: pulse 10s infinite;
        pointer-events: none;

        svg {
          pointer-events: none;
        }
      }

      h3 {
        color: #ffffff;
        text-transform: uppercase;
        margin-top: 20px;
        pointer-events: none;

        .underlined {
          background-image: linear-gradient(
            to bottom,
            transparent 50%,
            $primaryColor 50%
          );
        }
      }

      &:hover {
        div {
          background-color: rgba(65, 146, 71, 0.5);
        }
      }
    }
  }

  & > a {
    padding: 15px;
    color: #ffffff;
    border: 2px solid #fff;
    display: inline-block;
    max-width: 210px;
    width: 100%;
    margin: 0 50px;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
      color: $primaryColor;
      border: 2px solid $primaryColor;
    }
  }
}

section.nj_homepage_section8 {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  flex-direction: column;

  article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        max-width: 300px;
      }
    }

    &:nth-child(2) {
      margin: 50px 0;
      h4 {
        text-transform: uppercase;
        text-align: center;
        flex: 1;
      }

      video {
        width: 100%;
        flex: 1;
      }
    }
  }
}

// Section6
/* override position and transform in 3.3.x */
// .carousel-inner .item.left.active {
//   transform: translateX(-33%);
// }

// .carousel-inner .item {
//   display: none;
// }

// .carousel-inner > .active {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .carousel-inner > .active img {
//   margin: auto;
// }

// .carousel-inner > .active div:first-child {
//   flex: 1;
// }

// .carousel-inner > .active div:nth-child(2) {
//   flex: 2;
// }

// .carousel-inner > .active div:last-child {
//   flex: 1;
// }
// .carousel-inner .item.right.active {
//   transform: translateX(33%);
// }

// .carousel-inner .item.next {
//   transform: translateX(33%);
// }
// .carousel-inner .item.prev {
//   transform: translateX(-33%);
// }

// .carousel-inner .item.right,
// .carousel-inner .item.left {
//   transform: translateX(0);
// }

// .carousel-control.left,
// .carousel-control.right {
//   background-image: none;
// }

// /* override position and transform in 3.3.x */
// .carousel-inner .item.left.active {
//   transform: translateX(-33%);
// }
// .carousel-inner .item.right.active {
//   transform: translateX(33%);
// }

// .carousel-inner .item.next {
//   transform: translateX(33%);
// }
// .carousel-inner .item.prev {
//   transform: translateX(-33%);
// }

// .carousel-inner .item.right,
// .carousel-inner .item.left {
//   transform: translateX(0);
// }

// .carousel-control.left,
// .carousel-control.right {
//   background-image: none;
// }

// Section 9
.nj_homepage_section9 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 15px;
  text-align: center;

  div:last-child {
    h4 {
      text-transform: uppercase;
    }

    img {
      max-width: 300px;
      margin: 20px 0;
    }

    p {
      text-align: center;
      font-weight: 600;
    }
  }
}

.nj_homepage_section5 {
  flex-direction: column;

  h4 {
    margin-bottom: 50px;
  }
}

.nj_homepage_section10 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 80px;
  padding: 15px;
  grid-gap: 30px 20px;

  fieldset {
    border: 3px solid;
    box-sizing: border-box;
    margin: auto;
    padding: 12px 10px 10px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 150px;
    border: 2px solid $secondaryColor;

    legend {
      max-width: 150px;
    }
  }
}

main.homepage {
  .nj_evidenza_section2 {
    .slider {
      padding: 25px 15px;
    }
    & + a {
      margin: 10px auto 50px;
    }
  }
}

#top {
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 20px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: rgba(59, 59, 59, 0.5);
  }

  a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    div {
      color: white;
      text-align: center;
      position: relative;

      h3 {
        text-transform: uppercase;
        font-size: 40px;
        margin-bottom: 20px;
      }

      p {
        color: white;
      }
      img {
        max-width: 300px;
      }
    }
  }
}
