@media (max-width: 1300px) {
  section.nj_homepage_section8 {
    align-items: center;
    article {
      max-width: 800px;

      &:first-child {
        div:nth-child(3),
        div:last-child {
          display: none;
        }
      }

      &:last-child {
        div:nth-child(3),
        div:last-child {
          display: none;
        }
      }

      div {
        flex-basis: 50%;
      }

      &:nth-child(2) {
        h4,
        video {
          flex: 0 0 100%;
        }

        h4 {
          margin-bottom: 50px;
        }
      }
    }
  }

  main.noleggio {
    section.nj_noleggio_section3 {
      h4 {
        order: 1;
      }

      div.accordion {
        order: 2;
      }
    }
  }

  footer {
    grid-template-columns: repeat(auto-fit, minmax(100px, 260px));
    & ul:nth-child(5) {
      grid-column: 1/6;
    }
  }
}

@media (max-width: 1080px) {
  main.prodotti .nj_prodotti_section4 div:first-child img {
    margin-bottom: 20px;
  }

  .nj_evidenza_section4 article {
    img {
      max-width: 350px;
    }

    h3 {
      font-size: 25px;
    }
  }

  section.nj_homepage_section2 {
    article {
      flex-basis: 25%;
      margin-top: 20px;

      img {
        height: 140px;
      }

      h3 {
        opacity: 1;
      }
    }
  }
}

.nj_slides_description {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -90%);
  top: 60%;
  color: #fff;
  text-align: center;
  z-index: 2;
  width: 100%;
}

@media (min-width: 1024px) {
  .navbarDesktop {
    p {
      text-transform: uppercase;
    }
  }

  .navbarMobile {
    display: none;
  }

  header {
    nav {
      .inner {
        width: 160px;
      }
    }
  }
}

@media (max-width: 1023px) {
  main.noleggio section.nj_noleggio_section2,
  main.noleggio section.nj_noleggio_section3 {
    h4 {
      width: 100%;
    }
  }
  #footerDettaglio {
    h5 {
      width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  main.dettaglio {
    padding-top: 0;
  }
  #top a div {
    flex: 1;
    img {
      max-width: 200px;
    }
    h3 {
      font-size: 30px;
    }
  }
  .nj_homepage_section10 {
    grid-template-columns: 100%;

    fieldset {
      max-width: 300px;
      width: 100%;
    }
  }
  footer {
    & ul:nth-child(5) {
      grid-column: 1/6;
    }
  }
  main.video {
    .nj_video_section {
      video {
        flex: unset;
        margin-top: 50px;
      }
    }

    section:nth-child(4) {
      video {
        order: 2;
      }
    }
  }

  main.gallery {
    .nj_gallery_section_images {
      a {
        flex-basis: 33.3333%;

        img {
          height: 220px;
        }
      }
    }
  }

  main.contatti .nj_contatti_section1 img {
    height: 400px;
  }

  main.consigli,
  main.mission,
  main.contatti,
  main.noleggio,
  main.collaborazione,
  main.prodotti,
  main.gallery,
  main.video,
  main.categorie,
  main.search,
  main.evidenza {
    .nj_consigli_section1,
    .nj_mission_section1,
    .nj_contatti_section1,
    .nj_noleggio_section1,
    .nj_collaborazione_section1,
    .nj_prodotti_section1,
    .nj_gallery_section1,
    .nj_video_section1,
    .nj_categorie_section1,
    .nj_search_section1,
    .nj_evidenza_section1 {
      padding: 0 15px;

      h1 {
        margin: 0 0 50px;
      }

      p {
        strong {
          font-size: 14px;
        }
      }
    }
  }

  main.homepage {
    padding-top: 85px;
  }

  main {
    padding-top: 110px;
  }

  header {
    background: #ffffff;
    .navbarMobile {
      display: block;
    }

    div {
      &.burger_menu {
        flex: 1;
        label {
          display: block;
        }
      }
    }

    .navbarDesktop {
      display: none;
    }

    nav.navbarMobile {
      display: flex;
      margin: 0;
      position: fixed;
      left: -100%;
      top: 85px;
      background: #ffffff;
      color: $primaryColor;
      flex-direction: column;
      width: 100%;
      transition: 0.5s;
      transform: translateX(-100%);
      overflow: hidden;
      box-shadow: 0 8px 26px 0 rgba(77, 42, 23, 0.16);
      text-align: center;

      div:last-child {
        display: flex;
        flex-direction: row;
        justify-content: center;

        a {
          padding: 15px 10px;
        }
      }

      &.active {
        opacity: 1;
        left: 0;
        transform: translateX(0);
      }

      a {
        padding: 15px;
        color: $primaryColor;
        font-size: 14px;
      }

      > div {
        margin: 0;
        text-align: center;
      }

      .panel {
        padding: 0 80px;
        a:first-child,
        a:nth-child(2) {
          border-bottom: 1px solid #e6e7f0;
        }

        a {
          font-weight: unset;
        }
      }

      a.main_category {
        border-bottom: 1px solid #e6e7f0;
        text-transform: uppercase;
        font-size: 16px;
        padding: 20px 15px;

        &:hover {
          color: $primaryColor;
        }

        &.active {
          color: $secondaryColor;
          & + .panel {
            & + a.main_category {
              border-top: 1px solid #e6e7f0;
            }
          }
        }
      }
    }

    div.logo {
      flex: 1;

      img {
        width: 80px;
        transition: all 0.5s ease-in-out;
      }
    }

    div.checkout {
      flex: 1;

      a {
        margin: 0;
      }
    }

    &.scroll {
      .logo {
        img {
          width: 60px;
          margin: 10px;
        }
      }
    }

    &.scroll {
      .navbarMobile {
        top: 67px;
      }
    }
  }
  // Common
  #prodottiHeaderModal {
    .modal-header {
      .close {
        opacity: 1;
      }
    }
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
    font-style: italic;
    line-height: 50px;
  }

  h4 {
    font-size: 30px;
  }

  .nj_slides_description {
    p {
      font-size: 20px;
      text-transform: uppercase;
      padding-top: 40px;
    }
  }

  .nj_homepage_section3 {
    padding: 20px 15px;
  }

  .nj_homepage_section5 {
    justify-content: center;

    h4,
    div {
      flex: unset;
    }

    h4 {
      margin-bottom: 50px;
    }
  }

  .nj_prodotti_section3 {
    > div {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 910px) {
  footer {
    display: block;

    ul:nth-child(5) {
      margin-top: 0;
    }

    ul {
      margin-top: 40px;
    }
  }
}

@media (min-width: 769px) {
  .mob {
    display: none;
  }
  section.nj_consigli_section2,
  section.nj_homepage_section4,
  section.nj_noleggio_section5 {
    article {
      a,
      a h3 {
        pointer-events: none;
        cursor: default;
      }
    }
  }

  .mobile_description {
    display: none;
  }
}

@media (max-width: 768px) {
  main.collaborazione .nj_collaborazione_section1 img {
    width: 90%;
  }
  .dettaglio.evidenza .nj_evidenza_section2 {
    padding: 100px 15px 0;
    flex-direction: column;
  }
  header {
    box-shadow: 0 8px 26px 0 rgba(77, 42, 23, 0.16);
  }

  section.nj_homepage_section5,
  section.nj_noleggio_section2,
  section.nj_noleggio_section3 {
    .accordion {
      a.main_category {
        height: 120px;
        margin: 0;
      }
    }
  }

  .navbarMobile {
    display: none;
  }

  section.nj_homepage_section4 {
    article {
      a {
        svg {
          width: 120px;
          height: 120px;
        }
      }
    }
  }

  .mobile_description {
    display: none;
  }

  footer {
    padding: 40px 15px 20px;
    ul:nth-child(5) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  section#nj_homepage_section1,
  section#nj_homepage_section1 .carousel-item {
    height: calc(100vh - 85px);

    h1 {
      font-size: 30px;
      line-height: 40px;
      text-transform: uppercase;
    }
  }
}
@media (min-width: 768px) {
  .mobConsigli {
    display: none;
  }
}

@media (max-width: 767px) {
  .nj_homepage_section7 > a {
    margin: 15px;
  }
  main.consigli .consigliMore,
  .deskConsigli {
    display: none;
  }
  #footerDettaglio {
    height: 60px;
    form {
      width: 100%;
    }
    h5 {
      display: none;
    }

    input[type='submit'] {
      width: 100%;
      font-size: 16px;
      outline: none;
    }
  }
  #coloriModal .modal-body ul li img,
  #dimensioniModal .modal-body ul li img {
    max-width: 40px;
  }

  .nj_homepage_section9 div:last-child img {
    max-width: 250px;
  }
  .dettaglio.evidenza .reminder {
    font-size: 10px;
  }
  main.categorie .nj_categorie_section1 img {
    width: 100%;
  }
  .dettaglio.evidenza .nj_evidenza_section2 .productDetails h3 {
    margin: 20px 0;
    font-size: 20px;
    line-height: 30px;
  }
  main.evidenza .nj_evidenza_section5 > div:last-child div strong {
    display: inline;
  }
  main.collaborazione .nj_collaborazione_seciont4 ul li {
    width: 70%;
  }
  main.gallery .nj_gallery_section_images div img {
    height: 150px;
  }
  .mob {
    display: block;
  }
  main.collaborazione .nj_collaborazione_seciont4 ul li a img {
    max-width: 150px;
    position: relative;
    z-index: -1;
  }

  main.categorie .nj_categorie_section2 {
    grid-template-columns: repeat(auto-fit, minmax(100px, 155px));
    grid-gap: 15px;
  }

  main.categorie .nj_categorie_section2 article {
    height: 300px;
  }

  #top a div {
    padding: 15px;
    img {
      max-width: 150px;
    }
    h3 {
      font-size: 22px;
      line-height: 25px;
    }
  }
  main.prodotti .nj_prodotti_section4 > div:last-child div:last-child strong {
    display: inline;
  }
  .nj_evidenza_section4 article {
    flex-direction: column;
    padding: 50px 15px;

    img {
      max-width: 300px;
    }

    div {
      width: 100%;

      h3 {
        margin-top: 20px;
      }
    }
  }
  .nj_evidenza_section4 article:nth-child(even) div:first-child {
    order: 1;
  }

  .nj_evidenza_section4 article:nth-child(even) div:last-child {
    order: 2;
  }

  .gallery-item.gallery-item-last,
  .gallery-item.gallery-item-first {
    display: none;
  }
  main.prodotti .nj_prodotti_section4 > div:last-child div svg,
  main.evidenza .nj_evidenza_section5 > div:last-child div svg {
    margin-right: 18px;
    min-width: 50px;
    width: 50px;
  }

  main.categorie {
    .nj_categorie_section1 {
      svg {
        width: 150px;
        height: 150px;
      }
    }
    .nj_categorie_section2 {
      article {
        svg {
          width: 120px;
          max-height: 120px;
        }
      }
    }
  }

  .nj_search_section2 {
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));

    article {
      img {
        width: 100%;
        max-width: 150px;
      }
    }
  }

  main.prodotti .nj_prodotti_section2 article:last-child {
    svg {
      width: 80px;
      height: 80px;
    }

    h3 {
      margin-top: 45px;
    }
  }

  main.gallery .nj_gallery_section_images a {
    flex-basis: 50%;
    img {
      height: 150px;
    }
  }

  html {
    scroll-padding-top: 70px;
  }

  h1 {
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
  }

  p {
    font-size: 14px;
  }

  #scrollTop {
    width: 0;
    height: 0;

    &.active {
      width: 40px;
      height: 40px;
    }
  }

  main {
    overflow: hidden;
  }

  header {
    padding: 10px 15px;

    div {
      &.burger_menu {
        label {
          display: block;
        }
      }

      &.checkout {
        a {
          svg {
            path {
              fill: $primaryColor;
            }
          }
        }
      }
    }
  }

  // Homepage products
  section.nj_homepage_section2 article img {
    height: 170px;
  }

  #prodottiHeaderModal {
    .modal-dialog {
      .modal-body {
        a {
          height: 60px;

          img,
          svg {
            width: 55px;
          }

          .bigger {
            width: 70px;
          }
        }
      }
    }
  }

  // Homepage section 4
  section.nj_homepage_section4,
  section.nj_consigli_section2,
  section.nj_noleggio_section5 {
    position: relative;

    article {
      padding: 0;
      max-width: 100px;

      a {
        display: block;

        svg {
          width: 80px;
          height: 80px;
          pointer-events: none;
        }
      }

      h3 {
        padding: 0;
        pointer-events: none;

        span {
          background-image: none;
        }
      }

      p {
        display: none;
      }

      &.active {
        span.underlined {
          background-image: linear-gradient(
            to bottom,
            transparent 50%,
            $secondaryColor 50%
          );
        }
      }
    }

    .mobile_description {
      display: block;
      margin-top: 30px;
    }
  }

  section.nj_homepage_section2 article {
    flex-basis: 50%;
  }

  // Section5
  section.nj_homepage_section5 {
    .accordion {
      a.main_category {
        height: 100px;
      }
    }
  }

  // Section 7
  .nj_homepage_section7 {
    & > div {
      a {
        flex-basis: 50%;

        &:nth-child(3),
        &:last-child {
          margin-top: 50px;
        }

        div {
          width: 140px;
          height: 140px;
        }
      }
    }
  }

  main.contatti .nj_contatti_section1 {
    padding: 0;
    img {
      height: 250px;
    }
  }

  main.consigli,
  main.mission,
  main.contatti,
  main.noleggio,
  main.collaborazione,
  main.gallery,
  main.video {
    .nj_consigli_section1,
    .nj_mission_section1,
    .nj_contatti_section1,
    .nj_noleggio_section1,
    .nj_collaborazione_section1,
    .nj_gallery_section1,
    .nj_video_section1 {
      svg {
        width: 150px;
        height: 150px;
      }
    }

    .nj_consigli_section2 {
      article {
        a {
          h3 {
            span {
              span {
                display: none;
              }
            }
          }
        }
      }
    }

    .nj_consigli_section3 {
      p {
        br {
          display: none;
        }
      }
    }

    .nj_contatti_section2 {
      form {
        div:first-child {
          flex-direction: column;
          align-items: unset;

          input {
            margin-bottom: 25px;
          }
        }
      }
    }

    .nj_contatti_section3 {
      > div {
        flex: unset;
        width: 100%;

        &:first-child {
          order: 2;
          margin-top: 40px;
        }
      }

      #map {
        order: 1;
        height: 350px;
      }
    }
  }

  main.noleggio {
    .nj_noleggio_section1 {
      img {
        width: 100%;
      }
    }
  }

  main.prodotti .nj_prodotti_section2 {
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    grid-gap: 50px 10px;

    article {
      a {
        img {
          height: 100px;
        }
      }
    }
  }

  // Footer
  footer {
    > svg:nth-child(2),
    > svg:nth-child(3) {
      display: none;
    }

    ul {
      width: 100%;
      text-align: center;
      margin-bottom: 40px;
    }

    ul:last-child {
      grid-column: unset;
      margin: 0;
    }

    ul:nth-child(5) {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 470px) {
  .nj_mission_section2 .accordion .panel img {
    max-width: 150px;
  }
  main.categorie
    .nj_categorie_section3
    .nj_categorie_section3_details
    > div
    article {
    padding: 0 15px;
    img {
      padding: 15px;
    }
  }

  .dettaglio.evidenza .nj_homepage_section5 .accordion a.main_category {
    margin: 0 auto;
  }
  .dettaglio .price {
    font-size: 30px;
    margin-top: 15px;
  }

  .dettaglio.evidenza button {
    margin: 30px 5px;
    max-width: 140px;
  }

  .dettaglio.evidenza p:nth-child(3) {
    margin: 15px;
  }
  .nj_slides_description .diapositiva br {
    display: none;
  }
  .black-mask {
    display: none;
  }
  // Common
  h2 {
    font-size: 22px;
    line-height: 40px;
  }

  h3 {
    font-size: 14px;
  }

  h4 {
    font-size: 22px;
    line-height: 30px;
  }

  section#nj_homepage_section1,
  section#nj_homepage_section1 .carousel-item {
    height: 300px;

    .nj_slides_description {
      z-index: 0;
      h2 {
        & > span {
          display: none;
        }

        span.underlined {
          background-size: 100px 0.5em;
        }
      }
    }

    .carousel-inner {
      overflow: visible;
    }
  }

  .nj_slides_description {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    color: $grafiteColor;

    p {
      font-size: 14px;
      padding-top: 15px;
      color: $grafiteColor;
    }
  }

  section.nj_homepage_section2 {
    margin-top: 185px;

    article {
      h3 {
        opacity: 1;
      }
      img {
        height: 110px;
      }
    }
  }

  section.nj_homepage_section5,
  section.nj_mission_section2,
  section.nj_noleggio_section2,
  section.nj_noleggio_section3,
  section.nj_collaborazione_section2 {
    .accordion {
      a.main_category {
        height: 80px;
        margin: 0;

        p {
          margin: 0 5px;
        }

        svg,
        img {
          width: 40px;
        }
      }
    }
  }

  section.nj_homepage_section8 article div img {
    max-width: 200px;
  }

  // Section 9
  .nj_homepage_section9 div:last-child a {
    padding: 10px;
    max-width: 100px;
  }
}

@media (max-width: 355px) {
  .nj_slides_description p {
    display: none;
  }
}
