.nj_mission_section1 {
  p {
    max-width: 750px;
    margin: 50px auto;
  }
}
.noiMission {
  flex-direction: row !important;
  justify-content: space-around;
}

.nj_mission_section2 {
  max-width: 600px;
  margin: auto;
  padding: 0 15px;

  .accordion {
    .panel {
      display: block;

      img {
        object-fit: cover;
        max-width: 200px;
        margin-bottom: 20px;
      }
    }
  }
}
