main.noleggio {
  h4 {
    color: $secondaryColor;
  }

  .nj_noleggio_section1,
  .img_divider {
    img {
      width: 100%;
      margin: 0 auto;
      display: block;
    }
  }

  section.nj_noleggio_section3 {
    h4 {
      order: 2;
    }
  }

  section.nj_noleggio_section4 {
    margin: 50px 15px;
  }
}
