main.prodotti,
main.evidenza {
  .nj_prodotti_section1 {
    margin-bottom: 50px;

    p:nth-child(2) {
      font-weight: 600;
    }
  }

  .nj_prodotti_section2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 320px));
    justify-content: space-evenly;
    grid-gap: 40px;
    max-width: 1700px;
    margin: auto;

    article {
      text-align: center;
      a {
        display: block;
        text-transform: uppercase;
        color: $grafiteColor;

        img {
          height: 250px;
          width: auto;
        }

        h3 {
          margin-top: 20px;
          line-height: 25px;
        }
      }
    }

    article:last-child {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      h3 {
        margin-top: 60px;
      }
    }
  }

  .nj_prodotti_section3,
  .nj_evidenza_section3 {
    background-color: #3b3b3b;
    margin-top: 50px;
    padding: 50px 0;
  }

  .nj_prodotti_section4,
  .nj_evidenza_section5 {
    margin: 50px 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 535px));
    justify-content: space-evenly;
    align-items: center;

    div:first-child {
      img {
        max-width: 500px;
        width: 100%;
      }
    }

    > div:last-child {
      div {
        display: flex;
        align-items: center;
        margin: 20px 0;

        svg {
          margin-right: 40px;
          min-width: 80px;
          width: 80px;
        }

        strong {
          display: block;
        }

        a {
          color: $primaryColor;
        }
      }
    }
  }
}
