.nj_search_section1 {
  div {
    max-width: 200px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  p:nth-child(5) {
    strong:last-child {
      font-style: italic;
    }
  }

  input[type='text'] {
    display: block;
    width: 100%;
    padding: 12px 24px;
    max-width: 500px;
    margin: 20px auto 0;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: $grafiteColor;
    background-color: transparent;
    background-image: url('../logo/search.svg');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid $primaryColor;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    &::placeholder {
      color: $grafiteColor;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }

    &:hover,
    &:focus {
      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid $secondaryColor;
      border-radius: 0;
      background-position: 100% center;
    }
  }
}

.nj_search_section2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 350px));
  justify-content: center;
  margin-top: 50px;
  grid-gap: 20px;

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h3 {
      margin: 10px 0;
      line-height: 20px;
    }
  }
}
