main.video {
  .nj_video_section1 {
    svg {
      margin-bottom: 50px;
    }
  }

  .nj_video_section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 15px;
    flex-wrap: wrap;

    h4 {
      color: $primaryColor;
      text-align: center;
    }

    div {
      display: flex;
      flex: 1;
      align-items: center;
      flex-direction: column;
      padding: 0 15px;

      > p {
        max-width: 550px;
        text-align: center;
        margin: 30px 0 20px;
      }
    }

    video {
      width: 100%;
      flex: 1;
    }

    .nj_video_section2_docs {
      a {
        display: flex;
        flex-direction: row;
        cursor: pointer;

        svg {
          margin-left: 10px;
        }
      }
    }
  }
}
